/* Account Forms */
.account-forms {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-forms h3 {
    margin-bottom: 20px;
    color: #232f3e;
}

.account-forms div {
    margin-bottom: 15px;
}

.account-forms label {
    display: block;
    margin-bottom: 5px;
    color: #232f3e;
}

.account-forms input[type="text"],
.account-forms input[type="email"],
.account-forms input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.account-forms input[type="submit"] {
    background-color: #ff9900;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.account-forms input[type="submit"]:hover {
    background-color: #232f3e;
}
